<nav class="navbar navbar-toggleable-md navbar-light bg-faded bg-success">

  <div class="container " >

    <a class="navbar-brand bg-faded"  routerLink="/" style="border: dashed"> &nbsp;The Genius&nbsp; </a>
    <ul class="navbar-nav">

      <li class="nav-item">
        <button class="btn-primary" style="margin: 5px;" href="#" routerLink="/">Home</button>
      </li>
      <li class="nav-item">
        <button class="btn-primary" style="margin: 5px;" href="#" routerLink="/about">about</button>
      </li>

      <li class="nav-item">
        <button class="btn-primary" style="margin: 5px;" href="#" routerLink="/diet">diet</button>
      </li>
    </ul>
  </div>
</nav>
